html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    text-align: center;
    font-size: 1.5vmax;
    font-family: sans-serif;
}
main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
}
form {
    width: 100%;
}
input, button {
    margin: .5em 0;
    outline: 0;
    border-radius: 1em;
    text-align: center;
    font-size: 3em;
}
input {
    width: 90%;
    border: .1em solid darkorange;
    background: whitesmoke;
    color: steelblue;
}
input[type="range"] {
    transform: scale(3);
    width: 30%;
}
button {
    width: 2em;
    height: 2em;
    background: steelblue;
    border: .2em double darkslategray;
    color: whitesmoke;
    font-family: monospace;
}
button:hover {
    background-color: dodgerblue;
    border-color: midnightblue;
}
img {
    width: 100%;
}
img:hover {
    opacity: .75;
}
#score {
    font-size: 5em;
}
img.correct {
    opacity: .5;
}
#images {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    align-items: center;
    justify-items: center;
}
#names {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    width: 100%;
    font-size: 1.5em;
}
#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    align-items: center;
    justify-items: center;
}
#image {
    grid-row: 3;
    width: auto;
    height: 50vh;
    max-width: 90vw;
}
#names div {
    margin-bottom: -.1em;
    border: .1em solid transparent;
}
#names div.correct {
    border-color: darkseagreen;
    background: seagreen;
}

@media (orientation: landscape) {
    #images {
        grid-template-columns: repeat(8, 1fr);
    }
    #names {
        grid-row: 1 / 4;
        grid-column: 4 / 6;
    }
    #container {
        grid-template-columns: repeat(2, 1fr);
    }
    #image {
        grid-row: 1 / 4;
        grid-column: 1;
        height: 75vh;
        max-width: 75vw;
    }
}

@keyframes incorrect {
    10%, 90% {
        transform: translateX(1vw);
    }
    20%, 80% {
        transform: translateX(-2vw);
    }
    30%, 50%, 70% {
        transform: translateX(4vw);
    }
    40%, 60% {
        transform: translateX(-4vw);
    }
    50% {
        background-color: crimson;
    }
}

.incorrect {
    animation: incorrect .75s ease-in-out;
}
