html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5vmax;
    font-family: sans-serif;
}
main {
    overflow: hidden;
}
input, button {
    width: 90%;
    border-radius: .5em;
    text-align: center;
    margin: .5em 0;
    font-size: 3em;
}
input[type="range"] {
    transform: scale(3);
    width: 30%;
}
img {
    width: 100%;
}
img.single {
    width: 25em;
}
img:hover {
    opacity: .75;
}
#error {
    color: red;
}
#score {
    font-size: 3em;
}
img.correct {
    opacity: .5;
}
#images {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 1em;
    align-items: center;
    justify-items: center;
}
#names {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    width: 100%;
    font-size: 2em;
}
#names div {
    border: .1em solid transparent;
}
div.correct {
    color: white;
    border: .1em solid green;
    background: green;
}

@media (orientation: landscape) {
    #images {
        grid-template-columns: repeat(6 , 1fr);
    }
    #names {
        grid-row: 1 / 4;
        grid-column: 3 / 5;
    }
}
